<header class="docs-header">
  <div class="docs-header-content">
    <a href="/" class="docs-logo">
      <img src="{{ '/images/logo.svg' | prepend: site.baseurl | prepend: site.url }}" alt="flywire">
    </a>

    <ul class="docs-menu upToMedium-hidden">
      {% assign sorted_pages = site.pages | sort:"order" %}
      {% for node in sorted_pages %}
        {% if node.path contains '.md' or node.path contains '.html' %}
          {% if page.url == node.url %}
            <li class="active"><a href="{{ node.url | prepend: site.baseurl | prepend: site.url }}" class="active">{{node.title}}</a></li>
          {% else %}
            <li><a href="{{ node.url | prepend: site.baseurl | prepend: site.url }}">{{node.title}}</a></li>
          {% endif %}
        {% endif %}
      {% endfor %}
    </ul>

    <select data-js="mobile-menu" class="Select fromMedium-hidden docs-menu-mobile" name="nav">
      {% assign sorted_pages = site.pages | sort:"order" %}
      {% for node in sorted_pages %}
        {% if node.path contains '.md' or node.path contains '.html' %}
          {% if page.url == node.url %}
            <li class="active"><a href="{{node.url}}" class="active">{{node.title}}</a></li>
            <option value="{{ node.url | prepend: site.baseurl | prepend: site.url }}" selected>{{node.title}}</option>
          {% else %}
            <option value="{{ node.url | prepend: site.baseurl | prepend: site.url }}">{{node.title}}</option>
          {% endif %}
        {% endif %}
      {% endfor %}
    </select>

  </div>
</header>
