//
//  Drowpdown component
//

@import "../FormElements/config";
@import "../FormElements/mixins";

.Dropdown-search {
  @include form-field-base();
  @include form-field-size($form-field-height-base, $font-size-base);

  background-image: background-image(arrow-down-icon($select-arrow-color));
  background-repeat: no-repeat;
  background-position: calc(100% - .5rem) center;
  background-size: 1rem;
  appearance: none;

  .is-searching & {
    background-image: background-image(arrow-up-icon($select-arrow-color));
    border: 1px solid $form-field-border-color-focus;
  }
}

.Dropdown-search {
  @include state-variation("error") {
    border-color: $color-danger;
  }

  @include state-variation("success") {
    border-color: $color-success;
  }
}

.Dropdown-options {
  position: relative;
  top: -3px;
  display: none;
  max-height: 200px;
  padding: 0;
  margin: 0;
  overflow-y: scroll;
  list-style: none;
  background: #fff;
  border: 1px solid $form-field-border-color;
  border-top: 1px solid lighten($form-field-border-color, 10%);
  border-bottom-right-radius: $form-field-border-radius;
  border-bottom-left-radius: $form-field-border-radius;

  .is-searching & {
    display: block;
    border: 1px solid $form-field-border-color-focus;
    border-top: 1px solid lighten($form-field-border-color, 10%);
  }
}


.Dropdown-option {
  padding: rem(4px) rem(8px);
  font-size: rem(15px);

  &.is-active {
    color: #fff;
    background-color: $color-brand-primary;
  }

  .is-highlighted {
    border-bottom: 1px dotted #aaa;
  }
}
