@import "../../config";

$button-size-base: $form-field-height-base !default;

$button-font-weight: 700 !default;
$button-font-family: $font-family-base !default;
$button-border-radius: $global-border-radius !default;
$button-font-size-base: 0.8rem !default;
$button-outline-color: #939fac !default;
$button-size-base: $form-field-height-base;

$button-styles: ("primary": $color-brand-primary, "danger": $color-danger)
  !default;
