//
//  Button mixins
//
@import "../../styles/mixins/all";

@mixin button-base {
  display: inline-block;
  font-family: $button-font-family;
  font-weight: $button-font-weight;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  border: 0;
  border-radius: $button-border-radius;
  outline: 0;
  transition: all 200ms ease-out;
}

@mixin button-size($size, $font-size) {
  height: $size;
  padding: 0 $size;
  font-size: $font-size;
  line-height: $size;
}

@mixin button-style($bg, $color: #fff) {
  background: $bg;
  color: $color;

  &:hover {
    color: $color;
    text-decoration: none;
    background-color: lighten($bg, 5%);
  }

  &:active,
  &.button--active,
  &.is-active {
    background-color: darken($bg, 15%);
  }
}

@mixin button-style-outline($outline-color, $bg, $bg-hover: $bg, $color-hover: #fff) {
  background: transparent;
  color: $outline-color;
  border: 1px solid $outline-color;

  &:hover {
    color: $color-hover;
    background-color: $bg-hover;
    border-color: $bg-hover;
  }
}
