//
//  Button Component
//
@import "../config"

$button-primary-color: $color-primary !default;
$button-primary-border: 1px solid $color-primary !default;


.button {
  color: $button-primary-color;
  background: none;
  border: $button-primary-border;
}
