//
//  Button Component
//
@import "../../settings/index";

$button-primary-color: $color-primary !default;
$button-primary-border: 1px solid $color-primary !default;


.button {
  color: $button-primary-color !important;
  background: none;
  border: $button-primary-border !important;
  display: flex;
}
