@import './config';
@import './mixins';

.Button {
  @include button-base;
}

.Button--default {
  @include button-style(#fff, $body-color);
  border: $form-field-border;

  &:hover {
    border: 1px solid darken($form-field-border-color, 15%);
  }
}

@each $style in map-keys($button-styles) {
  .Button--#{$style} {
    @include button-style(map-get($button-styles, $style));
  }
}

.Button--outline {
  @include button-style-outline($button-outline-color);
}

.Button--outlineWhite {
  @include button-style-outline($color-white, $color-brand-primary);
}

@each $style in map-keys($button-styles) {
  .Button--outline#{capitalize($style)} {
    $current: map-get($button-styles, $style);
    @include button-style-outline($current);
  }
}

.Button--block {
  display: block;
  width: 100%;
}

.Button--disabled,
.Button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.Button--withIcon {
  position: relative;
  padding: $button-padding-vertical $button-padding-horizontal;
}

.Button-icon {
  position: absolute;
  left: $button-padding-horizontal;
  transform: translateY(-50%);
  top: 50%;
  display: inline-block;
  height: $button-icon-height;
  width: $button-icon-width;
  margin-right: $spacer;
  fill: currentColor;
  max-width: $button-icon-max-width;
  user-select: none;
}

.Button-text {
  display: block;
  padding-left: $button-icon-max-width;
}
