//
//  Button Component
//

@import "../../config";
@import "./config";
@import "../../styles/mixins/utils";
@import "./mixins";

// base styles
//

.Button {
  @include button-base;
  @include button-size($button-size-base, $button-font-size-base);
}

// size variations
//

@each $size in map-keys($button-sizes) {
  $current: map-get($button-sizes, $size);
  .Button--#{$size} {
    @include button-size(map-get($current, "size"), map-get($current, "font-size"));
  }
}

// style variations
//

@each $style in map-keys($button-styles) {
  .Button--#{$style} {
    @include button-style(map-get($button-styles, $style));
  }
}

.Button--outline {
  @include button-style-outline($button-outline-color, $color-brand-primary);
}

@each $style in map-keys($button-styles) {
  .Button--outline#{capitalize($style)} {
    $current: map-get($button-styles, $style);
    @include button-style-outline($current, $current);
  }
}

// block button
//

.Button--block {
  display: block;
  width: 100%;
}

// button disabled
//

.Button--disabled, .Button:disabled {
  cursor: not-allowed;
  opacity: .65;
}
