@import "../../../config";

$phone-number-menu-options-width: 300px !default;
$phone-number-menu-input-width: 60px !default;
$phone-number-option-dial-color: rgba($body-color, .5) !default;
$phone-number-option-dial-color-active: rgba($color-white, .5) !default;
$phone-number-options-transition: none !default;
