@import "../../config";
@import "../../mixins";

.Textarea {
  @include form-field-base;
  padding: $font-size-base / 2;
  font-size: $form-field-font-size;

  .FormGroup--floatingLabel & {
    padding-top: 24px;
  }
}

.Textarea {
  @include form-field-error;
  @include form-field-success;
}
