@import "../../config";
@import "../../mixins";

.Textarea {
  @include form-field-base;
  padding: $font-size-base * 0.5;
  font-size: $form-field-font-size;

  .FormGroup--floatingLabel & {
    padding-top: 24px;
  }
}

.Textarea--outline {
    background-color: white;
    border-radius: $spacer-xs;
    resize: none;
}

.Textarea {
  @include form-field-error;
  @include form-field-success;
}
