//
//  Colors
//

//  Branding colors

$color-branding-primary        : #0084C0 !default;
$color-branding-primary-light  : #0090D2 !default;
$color-branding-primary-dark   : #0F476B !default;

$color-branding-secondary      : #DB7909 !default;
$color-branding-secondary-light: #E9922F !default;
$color-branding-secondary-dark : #C36800 !default;

$color-branding-tertiary       : #48B985 !default;
$color-branding-tertiary-light : #319B6A !default;
$color-branding-tertiary-dark  : #017043 !default;


$color-primary: #000;
