@use "sass:math";

@import "../../mixins";

@mixin grid-row() {
  margin-left: math.div($grid-gutter, -2);
  margin-right: math.div($grid-gutter, -2);
  @include clearfix;
}

@mixin grid-column-base() {
  position: relative;
  min-height: 1px; // Prevent collapsing
  padding-right: ($grid-gutter * 0.5);
  padding-left: ($grid-gutter * 0.5);
}

@mixin grid-column-size($size) {
  float: left;
  width: math.div(($size * 1%), $grid-columns);
}
