$tabs-margin: -40px !default;
$tabs-tab-padding: 16px !default;
$tabs-tablist-border-color: #dae0e4 !default;
$tabs-tablist-margin-top: 32px !default;
$tabs-link-padding-bottom: 16px !default;
$tabs-tabpanels-padding: 32px !default;
