@import './config';
@import './CardNumberInput/CardNumberInput';
@import './CVVInput/CVVInput';

.CardForm {
  margin-bottom: $spacer-sm;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.CardForm-Buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;

  & button {
    flex-grow: 1;

    @include media-up(large) {
      display: inline;
      max-width: 160px;
    }
  }
}

.CardForm-Input {
  width: 100%;

  &>.Label {
    width: 100%;
  }

  @include media-up(large) {
    display: inline-block;
    width: calc(50% - 8px);
    box-sizing: border-box;

    &>p {
      position: absolute;
    }

    &>.Label {
      width: 100%;
    }

    &--ExpiryDate {
      width: calc(30% - 8px);
    }


    &--CVV {
      width: calc(20% - 8px);
    }
  }
}
