//
//  Align utilities
//

// Floats

@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-up($breakpoint) {
    .u-#{$breakpoint}-float-left {
      float: left !important;
    }
    .u-#{$breakpoint}-float-right {
      float: right !important;
    }
    .u-#{$breakpoint}-float-none {
      float: none !important;
    }
  }
}
