//
//  Border
//

.u-borderLeft {
  border-left: $divider-border !important;
}

.u-borderRight {
  border-right: $divider-border !important;
}

// Responsive borders
@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-up($breakpoint){
    .u-#{$breakpoint}-borderLeft {
      border-left: $divider-border !important;
    }

    .u-#{$breakpoint}-borderRight {
      border-right: $divider-border !important;
    }
  }
}
