//
//  Typography
//

// Reset margins on paragraphs
//
// Similarly, the top margin on `<p>`s get reset. However, we also reset the
// bottom margin to use `rem` units instead of `em`.

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit;
}

abbr[title] {
  text-decoration: none;
}

blockquote {
  margin: 0 0 1rem;
}

// Emphasized text
em,
i {
  font-style: italic;
  line-height: inherit;
}

// Strong text
b,
strong {
  font-weight: $font-weight-bold;
  line-height: inherit;
}

// Small text
small {
  font-size: $font-size-sm;
  line-height: inherit;
}


// Headings
h1, h2, h3, h4, h5, h6 {
  @include type-heading;
}

h1 {
  @include type-h1;
}
h2 {
  @include type-h2;
}
h3 {
  @include type-h3;
}
h4 {
  @include type-h4;
}
h5 {
  @include type-h5;
}
h6 {
  @include type-h6;
}

// Horizontal rule
hr {
  @include hr;
}
