//
//  form fields config
//

@import "../../config";
@import "../Icon/config";

// form fields

$form-field-border-radius: 3px !default;
$form-field-font-family: $font-family-base !default;
$form-field-background: #fff !default;
$form-field-color: #444 !default;
$form-field-border-width: 1px !default;
$form-field-border-color: #ccc !default;
$form-field-border: $form-field-border-width solid $form-field-border-color !default;
$form-field-border-color-focus: $color-brand-primary !default;
$form-field-border-color-hover: #9399ac !default;
$form-field-placeholder-color: #939fac !default;

$form-field-height-base: $input-height-base !default;
$form-field-height-xs: $input-height-xs !default;
$form-field-height-sm: $input-height-sm !default;
$form-field-height-md: $input-height-md !default;
$form-field-height-lg: $input-height-lg !default;
$form-field-height-xl: $input-height-xl !default;

$form-field-disabled-border-color: #ccc !default;
$form-field-disabled-background-color: #f5f5f5 !default;
$form-field-disabled-cursor: not-allowed !default;

$form-field-sizes: (
  'xs': (size: $form-field-height-xs, font-size: $font-size-xs),
  'sm': (size: $form-field-height-sm, font-size: $font-size-sm),
  'md': (size: $form-field-height-md, font-size: $font-size-md),
  'lg': (size: $form-field-height-lg, font-size: $font-size-lg),
  'xl': (size: $form-field-height-xl, font-size: $font-size-xl)
) !default;


// labels

$label-color: $body-color;
$label-font-weight: $font-weight-semi-bold !default;
$label-font-size: $font-size-md !default;
$label-margin: 0 0 .3rem 0 !default;
$label-text-transform: none !default;
$label-line-height: 1.3 !default;

// form group

$form-group-margin: 0 0 $spacer-lg 0 !default;
$form-group-description-color: $color-gray !default;
$form-group-description-font-size: $font-size-sm !default;

// form group - hint
$form-group-hint-margin: 0 !default;
$form-group-hint-font-size: $font-size-sm !default;
$form-group-hint-line-height: 1.3 !default;
$form-group-hint-color: $color-gray !default;
$form-group-hint-font-weight: inherit !default;

// Select

$select-arrow-color: #494949 !default;

// Input Group

$input-group-context-background: #f8fafd !default;
$input-group-context-color: #939fac !default;
