//
//  forGroup component
//  gather all the components that a form field needs
//

@import "./config";
@import "../../../mixins";

.FormGroup {
  position: relative;
  display: block;
  margin: $form-group-margin;
}

.FormGroup--inline {
  display: inline-block;
}

.FormGroup-hint {
  display: block;
  margin: $form-group-hint-margin;
  font-size: $form-group-hint-font-size;
  font-weight: $form-group-hint-font-weight;
  line-height: $form-group-hint-line-height;
  color: $form-group-hint-color;
}

.FormGroup-feedback {
  display: none;
  margin: $form-group-feedback-margin;
  font-size: $form-group-feedback-font-size;
  font-weight: $form-group-feedback-font-weight;
  color: $form-group-feedback-color;
  font-size: $form-group-feedback-font-size;
  line-height: $form-group-feedback-line-height;

  animation-name: slideInUp;
  animation-duration: 200ms;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  @include state-variation(error) {
    display: block;
    color: $color-danger;
  }

  @include state-variation(success) {
    display: block;
    color: $color-success;
  }
}

@keyframes slideInUp {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
