//
//  Docs styles
//



// Wrapper to set max width
%wrapper,
.wrapper {
  padding: 0 $base-spacing;
  margin: 0 auto;
}

//
// Layout
//

// Full page layout (one column)

.fullPage {
  .docs-content {
    max-width: 768px;
    padding: 0;
    margin: auto;
  }
  .docs-logo {
    margin: 0;
  }
}

// Docs Header
.docs-header {
  margin-bottom: 2rem;
  background: #fff;
  box-shadow: 0 1px 4px rgba(0,0,0,.1);

  @include media-up(medium) {
    height: 120px;
  }
}

.docs-header-content {
  @extend .wrapper;
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

.docs-siteTitle {
  margin: 0 0 0 auto;
  font-size: .9rem;
  font-weight: $font-weight-semi-bold;
  text-transform: uppercase;
  @include media-up(medium) {
    font-size: 1.15rem;
  }
}

.docs-logo {
  height: 30px;
  @include media-up(medium) {
    height: 40px;
  }
}
// Docs header menu
.docs-menu {
  padding: 0;
  margin: $spacer 0;
  font-size: .7rem;
  font-weight: 600;
  text-transform: uppercase;
  list-style: none;

  @include media-up(medium) {
    margin: 0;
    font-size: .9rem;
  }

  li {
    display: block;
    margin-bottom: .5rem;

    @include media-up(medium) {
      display: inline-block;
      margin-left: 1rem;
    }
    a {
      display: inline-block;
      color: #38495B;

      @include media-up(medium) {
        padding-bottom: 1rem;
      }

      &:hover {
        text-decoration: none;
      }
    }

    &.active a {
      border-bottom: 3px solid #0091D4;
    }
  }
}

// Docs Nav
.docs-nav {
  display: none;
  float: left;
  width: 250px;
  height: 100%;
  @include media-up(medium) {
    display: block;
  }

  &.is-fixed {
    position: fixed;
    top: 0;
  }
}

// Docs Content
.docs-content {
  @include media-up(medium) {
    padding-left: 280px;
  }
}

// Typography
.docs-type-section {
  margin: 0 0 1rem;
  font-size: rem(30px);
  font-weight: 700;
  line-height: 1;
}

.docs-type-subsection {
  display: flex;
  margin-bottom: .3rem;
  align-items: center;
}
.docs-type-subsection-title {
  margin: 0;
  font-size: rem(28px);
  font-weight: 400;
}

.docs-type-description {
  margin: 0;
  font-size: rem(16px);
  color: #6B7886;
}

.docs-type-subsection-file {
  margin-left: auto;
  margin-bottom: 0;
  font-size: rem(12px);
  color: rgba(0,0,0,.5);

  img {
    width: rem(10px);
    height: auto;
    margin-right: .3rem;
    vertical-align: -3px;
  }
}

// Docs section
.docs-section {
  display: block;
  margin-bottom: 2rem;
}

.docs-section-header {
  padding-bottom: $spacer-sm;
  margin-bottom: $spacer-lg;
  border-bottom: 1px solid #DADFE4;
}

// Docs footer
.docs-footer {
  padding: $spacer-lg;
  margin-top: $spacer-xl;
  font-size: $font-size-sm;
  color: $color-gray;
  text-align: center;
  border-top: 1px solid #eee;

  p {
    margin: 0;

  }
}

// Code Examples

code {
  padding: .2rem .4rem;
  font-size: 90%;
  color: #bd4147;
  background: #f0f4fb;
  font-family: $font-family-base;
}

.code {
  margin-bottom: 2rem;
  overflow: hidden;
  border: 1px solid #D1DAE6;
  overflow: hidden;
}

.code-example {
  padding: 2rem;
  border-bottom: 1px solid #D1DAE6;
}

.code-highlight {
  background: #e0e6ed;
}

pre {
  margin: 0;
  overflow: auto;
  font-size: 14px;
  background: #f0f4fb;
}
figure {
  margin: 0 0 $spacer-lg;
}

pre code {
  display: block;
  padding: 2rem;
  font-size: inherit;
  color: inherit;
  background: #f0f4fb;
}


// Colors examples
.color {
  margin-bottom: 2rem;
  overflow: hidden;
  text-align: center;
  background: #fff;
  border-radius: 3px;
}

.color-example {
  position: relative;
  display: flex;
  padding-top: 50%;
  font-weight: 600;
  color: #fff;
  justify-content: center;
  align-items: center;
}

.color-code {
  padding: rem(10px);
  font-size: rem(13px);
}

.color--light {
  .color-name, .color-code {
    color: rgba(0,0,0,.5);
  }
}

.color-name {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 90%;
}

// Block grid
.blockGrid--3cols,
.blockGrid--4cols {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  @include media-up(small) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.blockGrid--3cols > div {
  flex-basis: 31%;
}

.blockGrid--4cols > div {
  flex-basis: 23%;
}



// Utilities
.u-alpha-50 {
  opacity: .5;
}

.text-shadow {
  text-shadow: 1px 1px 0 rgba(0,0,0,.3);
}


// Example view

.exampleView .GridRow > .GridColumn,
.exampleView .GridRow > [class^="GridColumn"] {
  min-height: 4rem;
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 14px;
  color: #fff;
  background-color: rgba(#7A8FA2, 1);
  border: 2px solid #fff;
  border-radius: 6px;
}

// .code-example span {
//   display: inline-block;
//   padding: 1rem;
//   margin: .5rem;
//   background: rgba(0,0,0,.03);
// }
