// Import flystyles
@import "../../src/flystyles";

// Base styles
$base-line-height: 1.6 !default;
$base-spacing: 1rem;
$wrapper-max-width: 1024px !default;


// Import partials from `sass_dir`
@import "docs";
@import "syntax-highlighting";
@import "treeNav";
@import "github-markdown";
