//
//  Display utilities
//

.display-block {
  display: block !important;
}

.display-inlineBlock {
  display: inline-block !important;
}

.display-inline {
  display: inline !important;
}

.display-table {
  display: table !important;
  width: 100%;
}

.display-table--padded {
  table-layout: fixed;
  border-spacing: $spacer;
  border-collapse: separate;
}

.display-tableCell {
  display: table-cell !important;
}
