@import '../../config';

$label-color: $body-color !default;
$label-font-weight: $font-weight-regular !default;
$label-font-size: $font-size-sm !default;
$label-margin: 0 0 8px 0 !default;
$label-text-transform: none !default;
$label-line-height: 1.4 !default;

$label-floating-color: #657a8d !default;
$label-floating-font-size: $font-size-sm !default;
$label-floating-font-size-focus: 12px !default;
$label-floating-padding-horizontal: 10px !default;
$label-floating-symbol-width: 43px !default;
