@import "../../styles/mixins/all";

@mixin icon-base() {
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

@mixin icon-size($size) {
  width: map-get($icon-sizes, $size);
  height: map-get($icon-sizes, $size);
}
