@import "config";
@import "mixins";

.Icon {
  @include icon-base();
  @include icon-size(md);
}

@each $size in map-keys($icon-sizes) {
  .Icon--#{$size} {
    width: map-get($icon-sizes, $size);
    height: map-get($icon-sizes, $size);
  }
}

@each $icon in map-keys($icons) {
  .Icon--#{$icon} {
    background-image: svg-url(map-get($icons, $icon));
  }
}
