//
// Select Component
//

@import "./config";
@import "../../../mixins";

// base styles
//

.Select {
  @include form-field-select;
  @include form-field-size($form-field-height-base, $form-field-font-size);
}

select.Select {
  // Remove arrow IE10-11
  &::-ms-expand {
    display: none;
  }

  // Hack for IE9
  @media all and (min-width: 0\0) and (min-resolution: 0.001dpcm) {
    padding-right: 0 !important;
    text-indent: 0;
    background-image: none !important;
  }
}

// select multiple
//

.Select--multiple {
  height: auto;
  background-image: none;
}

// state variations
//

.Select {
  @include state-variation("error") {
    border: $form-field-border-error;
    box-shadow: $form-field-box-shadow-error;
  }

  @include state-variation("success") {
    border: $form-field-border-success;
    box-shadow: $form-field-box-shadow-success;
  }
}
