//
// Select Component
//

@import "./config";
@import "../../../styles/mixins/all";

// base styles
//

.Select {
  @include form-field-select;
  @include form-field-size($form-field-height-base, $font-size-base);
}

select.Select {
  // Remove arrow IE10-11
  &::-ms-expand {
    display: none;
  }

  // Hack for IE9
  @media all and (min-width:0\0) and (min-resolution: .001dpcm) {
    padding-right: 0 !important;
    text-indent: 0;
    background-image: none !important;
  }
}

// size variations
//

@each $size in map-keys($form-field-sizes) {
  $current: map-get($form-field-sizes, $size);
  $select-size: map-get($current, "size");
  $select-font-size: map-get($current, "font-size");

  .Select--#{$size} {
    @include form-field-size($select-size, $select-font-size);
    background-position: calc(100% - #{$select-font-size}) center;
  }
}

// select multiple
//

.Select--multiple {
  height: auto;
  background-image: none;
}

// state variations
//

.Select {
  @include state-variation("error") {
    border-color: $color-danger;
  }

  @include state-variation("success") {
    border-color: $color-success;
  }
}
