@import "../../config";

$heading-font-weight: 400 !default;

$heading-size-huge: rem(32px) !default;
$heading-size-mobile-huge: rem(28px) !default;
$heading-size-large: rem(24px) !default;
$heading-size-mobile-large: rem(16px) !default;
$heading-size-medium: rem(20px) !default;
$heading-size-small: rem(18px) !default;
