@import "../../config";

$alert-padding: 16px 16px 16px 72px !default;
$alert-margin-bottom: $spacer !default;
$alert-border-width: 1px !default;
$alert-color: #38495b !default;
$alert-font-size: 14px !default;
$alert-border-radius: 0 !default;
