@import "../../config";

$alert-padding: $spacer-lg $spacer-lg $spacer-lg 4rem !default;
$alert-margin-bottom: $spacer !default;
$alert-border-width: 1px !default;
$alert-border-radius: $global-border-radius !default;
