$modal-background-color: #454f5b !default;
$modal-background-opacity: 0.6 !default;
$modal-width-small: 400px !default;
$modal-width-medium: 528px !default;
$modal-border-radius: 6px !default;
$modal-box-shadow: 0 31px 41px 0 rgba(0, 0, 0, 0.18),
  0 9px 28px 0 rgba(0, 0, 0, 0.05) !default;
$modal-padding: 40px !default;
$modal-zindex: 101;
