@import '../../config';

$phone-number-menu-options-width: 300px !default;
$phone-number-menu-input-width: 90px !default;
$phone-number-option-dial-color: rgba($body-color, 0.5) !default;
$phone-number-option-dial-color-active: rgba($color-white, 0.5) !default;
$phone-number-options-transition: none !default;

$with-3:80px !default;
$with-2:60px !default;
$with-1:60px !default;
