@import '../../config';
@import '../../mixins';

.Datepicker {
  position: relative;
  .Datepicker-input {
    padding-right: $spacer-xxl;
  }
}

.Datepicker-calendar {
  position: absolute;
  top: calc(100% + #{$spacer-lg});
  z-index: 2;
  display: none;
  max-width: 100%;
  width: 100%;
  right: 0;

  @include media-up(small) {
    max-width: 334px;
  }

  // Top triangle

  &:before {
    border-color: transparent;
    border-width: 9px;
    border-bottom-color: $form-field-border-color;
    top: -9px;
    right: 18px;
  }

  &:after {
    border-color: transparent;
    border-width: 8px;
    border-bottom-color: $color-white;
    right: 19px;
    top: -8px;
  }

  &:before,
  &:after {
    content: '';
    display: inline-block;
    position: absolute;
    border-style: solid;
    border-top-width: 0;
  }

  .Datepicker.is-open & {
    display: block;
  }

}

// Calendar icon
.Datepicker .InputGroup-context {
  cursor: pointer;
  width: 50px;
  border-left: none;
  position: absolute;
  right: 0;
  height: 100%;
  top: 0;
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;

  .Icon--calendar {
    width: 20px;
    height: 20px;
  }
}
