@import '../../config';

$checkbox-size: 20px !default;
$checkbox-margin: 0 0 $spacer-lg 0 !default;
$checkbox-border-color: $form-field-border-color !default;
$checkbox-border-width: 1px !default;
$checkbox-border-radius: 2px !default;
$checkbox-background-color: $form-field-background !default;

// checked
$checkbox-checked-border-color: $color-brand-primary !default;
$checkbox-checked-background-color: $color-brand-primary !default;

// focus
$checkbox-focus-border-color: $color-brand-primary !default;
$checkbox-focus-background-color: $color-brand-primary !default;

// disabled
$checkbox-disabled-border-color: $form-field-disabled-border-color !default;
$checkbox-disabled-background-color: $form-field-disabled-background-color
  !default;
