//
//  Config and variables
//
//  Copy this file to override
//  the Flystyles defaults without modifying key, versioned files.

//  Colors
//

// Brand colors

$color-brand-primary-light:   #0090d2 !default;
$color-brand-primary:         #0084c0 !default;
$color-brand-primary-dark:    #0f476b !default;

$color-brand-secondary-light: #e9922f !default;
$color-brand-secondary:       #db7909 !default;
$color-brand-secondary-dark:  #c36800 !default;

$color-brand-tertiary-light:  #48b985 !default;
$color-brand-tertiary:        #319b6a !default;
$color-brand-tertiary-dark:   #017043 !default;

// UI colors

$color-info:     #38b1e8 !default;
$color-success:  #6abb4f !default;
$color-danger:   #e14b3b !default;
$color-warning:  #d59a22 !default;
$color-white:    #fff !default;
$color-black:    #000 !default;

// Grayscale colors

$color-gray-lighter: #eee !default;
$color-gray-light:   #ccc !default;
$color-gray:         #7a8fa2 !default;
$color-gray-dark:    #666 !default;
$color-gray-darker:  #333 !default;

$colors: (
  "primary": $color-brand-primary,
  "secondary": $color-brand-secondary,
  "tertiary": $color-brand-tertiary,
  "white": $color-white,
  "black": $color-black,
  "info": $color-info,
  "success": $color-success,
  "warning": $color-warning,
  "danger": $color-danger,
  "grayLighter": $color-gray-lighter,
  "grayLight": $color-gray-light,
  "gray": $color-gray,
  "grayDark": $color-gray-dark,
  "grayDarker": $color-gray-darker
) !default;

// Spacing
//
// Control the default styling of most Flystyles elements by modifying these
// variables. Mostly focused on spacing.

$spacer:    1rem !default;
$spacer-x: $spacer !default;
$spacer-y: $spacer !default;

$spacer-xs: .3rem !default;
$spacer-sm: .5rem !default;
$spacer-md: $spacer !default;
$spacer-lg: 1.5rem !default;
$spacer-xl: 2rem !default;
$spacer-xxl: 3rem !default;

$spacers: (
  0:   0,
  xs:  $spacer-xs,
  sm:  $spacer-sm,
  md:  $spacer-md,
  lg:  $spacer-lg,
  xl:  $spacer-xl,
  xxl: $spacer-xxl
) !default;

// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
  xSmall: 0,
  small: 544px,
  medium: 768px,
  large: 992px,
  xLarge: 1200px
) !default;

// Grid columns
//
// Set the number of columns and specify the width of the gutters.

$grid-gutter:  30px !default;
$grid-columns: 12 !default;

// Typography
//
// Font, line-height, and color for body text, headings, and more.

$font-family-open-sans: "Open Sans", "Lucida Grande", Verdana, Arial, sans-serif !default;
$font-family-base: $font-family-open-sans !default;

$font-size-root: 16px !default;
$font-size-base: 1rem !default;

$font-size-xs: .75rem !default;
$font-size-sm: .875rem !default;
$font-size-md: $font-size-base !default;
$font-size-lg: 1.25rem !default;
$font-size-xl: 1.5rem !default;

$font-sizes: (
  'xs': $font-size-xs,
  'sm': $font-size-sm,
  'md': $font-size-md,
  'lg': $font-size-lg,
  'xl': $font-size-xl
);

$line-height-base: 1.5 !default;
$line-height-lg: (4 / 3) !default;
$line-height-sm: 1.5 !default;

$font-weight-light:      300 !default;
$font-weight-regular:    400 !default;
$font-weight-semi-bold:  600 !default;
$font-weight-bold:       700 !default;
$font-weight-extra-bold: 800 !default;

// Border radius

$border-radius: 3px !default;
$border-radius-lg: .3rem !default;
$border-radius-sm: .2rem !default;
$global-border-radius: $border-radius !default;

//  Base
//
//  Base HTML tags config

$body-background: #fff !default;
$body-color: #38495b !default;

// Headings

$headings-margin-bottom: $spacer-y !default;
$headings-font-family: inherit !default;
$headings-line-height: 1.1 !default;
$headings-color: inherit !default;

$type-h1-font-size: 2.5rem !default;
$type-h2-font-size: 2rem !default;
$type-h3-font-size: 1.75rem !default;
$type-h4-font-size: 1.5rem !default;
$type-h5-font-size: 1.2rem !default;
$type-h6-font-size: 1rem !default;

$type-h1-font-weight: $font-weight-light !default;
$type-h2-font-weight: $font-weight-regular !default;
$type-h3-font-weight: $font-weight-regular !default;
$type-h4-font-weight: $font-weight-regular !default;
$type-h5-font-weight: $font-weight-semi-bold !default;
$type-h6-font-weight: $font-weight-semi-bold !default;

$hr-border-width: 1px !default;
$hr-border-color: $color-gray-light !default;
$hr-border: $hr-border-width solid $hr-border-color !default;

$dt-font-weight: $font-weight-semi-bold !default;

$link-color: $color-brand-primary !default;
$link-text-decoration: none !default;
$link-hover-color: darken($link-color, 15%) !default;
$link-hover-text-decoration: underline !default;

// forms

$form-field-border-radius: $global-border-radius !default;
$form-field-font-family: $font-family-base !default;
$form-field-background: #fff !default;
$form-field-color: #444 !default;
$form-field-border-width: 1px !default;
$form-field-border-color: #ccc !default;
$form-field-border: $form-field-border-width solid $form-field-border-color !default;
$form-field-border-color-focus: $color-brand-primary !default;
$form-field-border-color-hover: #9399ac !default;
$form-field-placeholder-color: #939fac !default;

$form-field-height-base: 42px !default;
$form-field-height-xs: $form-field-height-base * .6 !default;
$form-field-height-sm: $form-field-height-base * .8 !default;
$form-field-height-md: $form-field-height-base !default;
$form-field-height-lg: $form-field-height-base * 1.5 !default;
$form-field-height-xl: $form-field-height-base * 2 !default;

$form-field-disabled-border-color: #ccc !default;
$form-field-disabled-background-color: #f5f5f5 !default;
$form-field-disabled-cursor: not-allowed !default;

$form-field-sizes: (
  'xs': (size: $form-field-height-xs, font-size: $font-size-xs),
  'sm': (size: $form-field-height-sm, font-size: $font-size-sm),
  'md': (size: $form-field-height-md, font-size: $font-size-md),
  'lg': (size: $form-field-height-lg, font-size: $font-size-lg),
  'xl': (size: $form-field-height-xl, font-size: $font-size-xl)
) !default;
