<!doctype html>
<html>
{% include head.html %}

<body>
  {% include header.html %}

  <main class="wrapper">
    {% include nav.html %}

    <article class="docs-content">
      {{ content }}

      {% include footer.html %}
    </article>
  </main>


  <script type="text/javascript" src="{{ '/javascript/Sticky.js' | prepend: site.baseurl | prepend: site.url }}"></script>
  <script type="text/javascript" src="{{ '/javascript/SmoothScroll.js' | prepend: site.baseurl | prepend: site.url }}"></script>
  <script type="text/javascript" src="{{ '/javascript/main.js' | prepend: site.baseurl | prepend: site.url }}"></script>
</body>

</html>
