@import "../../../config";

$label-color: $body-color !default;
$label-font-weight: $font-weight-semi-bold !default;
$label-font-size: $font-size-md !default;
$label-margin: 0 0 .3rem 0 !default;
$label-text-transform: none !default;
$label-line-height: 1.3 !default;
