//
//  forms mixins
//

@import "./utils";
@import "../../components/Icon/config";

@mixin inactive-field {
  border-color: $form-field-disabled-border-color;
  background-color: $form-field-disabled-background-color;
}

@mixin form-field-base {
  display: block;
  width: 100%;
  font-family: $form-field-font-family;
  color: $form-field-color;
  background-color: $form-field-background;
  border: $form-field-border-width solid $form-field-border-color;
  border-radius: $form-field-border-radius;
  outline: 0;
  transition: 200ms border ease-in-out;

  &:hover {
    border-color: $form-field-border-color-hover;
  }

  &:focus {
    border-color: $form-field-border-color-focus;
  }

  &::placeholder {
    color: $form-field-placeholder-color;
    opacity: 1;
  }

  &[readonly], &:disabled {
    @include inactive-field;
  }

  &:disabled {
    cursor: $form-field-disabled-cursor;
  }
}

@mixin form-field-select {
  @include form-field-base;
  padding-right: $spacer-xl !important;
  background-image: svg-url(map-get($icons, arrowDown));
  background-repeat: no-repeat;
  background-position: calc(100% - .8rem) center;
  background-size: .8rem;
  appearance: none;
  text-indent: 1px;
  text-overflow: "";
}

@mixin form-field-size ($height, $font-size) {
  height: $height;
  padding: 0 $height / 5;
  line-height: $height;
  font-size: $font-size;
}

@mixin state-variation($state) {
  .has-#{$state} &,
  &--#{$state} {
    @content;
  }
}

@mixin form-field-error {
  @include state-variation("error") {
    background-image: svg-url(map-get($icons, danger));
    background-repeat: no-repeat;
    background-position: calc(100% - .5rem) center;
    background-size: 5px;
    border-color: $color-danger;
  }
}

@mixin form-field-success {
  @include state-variation("success") {
    background-image: svg-url(map-get($icons, success));
    background-repeat: no-repeat;
    background-position: calc(100% - .5rem) center;
    background-size: 1rem;
    border-color: $color-success;
  }
}
