//
//  Utilities
//

// Removes the unit (e.g. px, em, rem) from a value, returning the number only.
// @param {Number} $num - Number to strip unit from.
// @returns {Number} The same number, sans unit.
@function strip-unit($num) {
  @return $num / ($num * 0 + 1);
}

// Converts pixels to rem
// @param {String} $pixels
// @returns {String} returns the unit in rem's
@function rem($pixels) {
  @return #{$pixels / $font-size-root}rem;
}

// Clearfix
@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@function capitalize($string) {
  @return to-upper-case(str-slice($string, 1, 1)) + str-slice($string, 2);
}


@function background-image($image, $type: "svg+xml", $encoding: "utf8") {
  @return url('data:image\/#{$type};#{$encoding},#{$image}');
}

@mixin state-variation($state) {
  .has-#{$state} &,
  &--#{$state} {
    @content;
  }
}
