$accordion-border-color: #d5e0eb !default;
$accordion-border-width: 1px !default;
$accordion-title-font-size: rem(18px) !default;
$accordion-title-color: #38495b !default;
$accordion-title-font-weight: $font-weight-semi-bold !default;
$accordion-title-width: calc(100% - 16px) !default;
$accordion-header-active-background: #f8fafd !default;
$accordion-header-success-border-color: #3eb734 !default;
$accordion-header-padding: 32px !default;
$accordion-content-color: #657a8d !default;
$accordion-content-font-size: rem(14px) !default;
$accordion-content-padding: 16px !default;
$accordion-content-padding-medium: 24px !default;
