$accordion-border-color: #cacad1 !default;
$accordion-border-width: 1px !default;
$accordion-title-font-size: rem(18px) !default;
$accordion-title-color: #38495b !default;
$accordion-title-font-weight: $font-weight-semi-bold !default;
$accordion-header-active-background: #f8fafd !default;
$accordion-header-success-border-color: #3eb734 !default;
$accordion-header-padding: 32px !default;
$accordion-box-shadow: 0 1px 4px rgba(#000, 0.05) !default;
$accordion-content-color: #657a8d !default;
$accordion-content-font-size: rem(14px) !default;
$accordion-content-padding: 32px !default;

.Accordion {
  border: $accordion-border-width solid $accordion-border-color;
  border-top: 0;
  box-shadow: $accordion-box-shadow;
}

.Accordion-section {
  overflow: hidden;
}

.Accordion-sectionHeader {
  position: relative;
  padding: $accordion-header-padding;
  border-top: $accordion-border-width solid $accordion-border-color;
  cursor: pointer;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05);
  transition: background, box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    background-color: $accordion-header-active-background;
  }

  .Accordion-section.is-active & {
    background-color: $accordion-header-active-background;
    border-bottom: $accordion-border-width solid $accordion-border-color;
  }

  .Accordion-section.has-success & {
    border-left: 4px solid $accordion-header-success-border-color;
  }

  &::after {
    content: "";
    position: absolute;
    right: $accordion-header-padding;
    top: 0;
    width: 10px;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: svg-url(
      '<svg width="10" height="6" viewBox="0 0 10 6" xmlns="http://www.w3.org/2000/svg"><path stroke="#637282" stroke-width="1.5" d="M9 1L5 5 1 1" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round"/></svg>'
    );
    transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .Accordion-section.is-active &::after {
    transform: rotate(180deg);
  }
}

.Accordion-sectionTitle {
  margin: 0;
  font-size: $accordion-title-font-size;
  color: $accordion-title-color;
  font-weight: $accordion-title-font-weight;
}

.Accordion-sectionContentWrapper {
  height: 0;

  .Accordion-section.is-active & {
    height: 100%;
  }
}

.Accordion-sectionContent {
  padding: $accordion-content-padding;
  font-size: $accordion-content-font-size;
  color: $accordion-content-color;
}
